---
import { SiReact, SiVuedotjs } from '@icons-pack/react-simple-icons'
import { Code } from 'astro:components'
import { ArrowRightIcon, RocketIcon } from 'lucide-react'
import { Box, HStack, Stack } from 'styled-system/jsx'
import { button } from 'styled-system/recipes'
import { Badge, Heading, Text } from '~/components/ui'
import { pandaConfig, tailwindConfig } from '~/lib/use-theme-generator'
import { ThemeDrawer } from '../theme/theme-drawer'
import { PandaIcon } from './panda.icon'
import { SolidIcon } from './solid.icon'
import { TailwindIcon } from './tailwind.icon'
---

<Stack gap={{ base: '8', md: '12' }} maxW={{ md: '2xl' }}>
  <Stack gap={{ base: '4', md: '6' }}>
    <Stack gap="4">
      <a href="/docs/panda/overview/cli">
        <Badge size="lg" variant="outline">
          <RocketIcon /> Checkout the new Park UI CLI <ArrowRightIcon />
        </Badge>
      </a>
      <Heading as="h1" textStyle={{ base: '4xl', md: '6xl' }} fontWeight="bold">
        Build your own Design System
      </Heading>
    </Stack>
    <Text textStyle={{ base: 'lg', md: 'xl' }} color="fg.muted">
      Beautifully designed components built for your choice of JS and CSS frameworks.
    </Text>
  </Stack>
  <Stack direction={{ base: 'column', sm: 'row' }} gap="3">
    <a href="/docs/panda/overview/introduction" class={button({ size: { base: 'xl', md: '2xl' } })}
      >Get Started <ArrowRightIcon /></a
    >
    <ThemeDrawer client:load isHero>
      <Code code={pandaConfig} lang="tsx" theme="css-variables" slot="panda" />
      <Code code={tailwindConfig} lang="tsx" theme="css-variables" slot="tailwind" />
    </ThemeDrawer>
  </Stack>
  <HStack gap="6">
    {
      [
        { framework: 'React', icon: <SiReact /> },
        { framework: 'Vue', icon: <SiVuedotjs /> },
        { framework: 'Solid', icon: <SolidIcon /> },
        { framework: 'Panda', icon: <PandaIcon /> },
        { framework: 'Tailwind', icon: <TailwindIcon /> },
      ].map(({ framework, icon }) => (
        <HStack key={framework} gap="2">
          <Box fontSize="3xl">{icon}</Box>
          <Text as="span" color="fg.muted" display={{ base: 'none', sm: 'inline-block' }}>
            {framework}
          </Text>
        </HStack>
      ))
    }
  </HStack>
</Stack>
